bin/
obj/
*.user
*.suo
.vs/

# Cannot include Assembly-CSharp.dll or UnityEngine.dll because it is presumably illegal to distribute them.
QEthics/_ReferenceAssemblies/Assembly-CSharp.dll
QEthics/_ReferenceAssemblies/UnityEngine.dll
